<DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <style>
      h1{
        font-family: Roboto;
        text-align: center;
        color: rgb(180, 180, 100)
      }
      h2{
        font-family: Roboto;
        color: rgb(180, 180, 100)
        text-align: center;
      }
      .bodytext {
        font-family: rosybrown; 
        text-align: center; 
        color: rgb(80,90,90)
      }

      #container{
        max-width: 720px;
        margin: 0 auto 0 auto;
      }

      #contactbutton{
        
      }
      
    </style>
  </head>
  <body>
    <div id="container">
    <h1>
      Himani Gulati 
    </h1>
    <img id = "banner" src = 'https://web-dev-flask-1.himanigulati1.repl.co/static/port.jpeg'>
    
    Hey there, here goes information about me that I want you to know. 

    <h2>
      About me
    </h2>
    <p class='bodytext'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Euismod quis viverra nibh cras pulvinar mattis. Vitae elementum curabitur vitae nunc sed velit. Laoreet id donec ultrices tincidunt. Adipiscing commodo elit at imperdiet dui accumsan sit amet nulla. Aliquet porttitor lacus luctus accumsan. Ullamcorper a lacus vestibulum sed. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Tempor orci dapibus ultrices in iaculis nunc sed augue.
    </p>

    <h2>
      Interests and Hobbies
    </h2>
    <p>TODO</p>
    <h2>
      Projects
    </h2>


      <div style="text-align:centr;">
      <button id="contactbutton"> Get in Touch  </button>
        
      </div>
      
    </div>
  </body>
</html>
